*, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


/* Header */

nav {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: white;
    padding: 2.5% 10% 2.5% 10%;
}

nav a {
    color: white;
    text-decoration: none;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    padding-left: 3.0rem;
}

/* MAIN padding: 8% 20% 8% 20%; */

.mainHead {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center; */
    background-color: #1F2937;
    color: white;
    padding: 2.5% 10% 2.5% 10%;
}

.mainHead1 {
    width: 50%;
    order: 1;
    padding-right: 3rem;
    text-align: start;
}
.mainHead2 {
    width: 50%;
    order: 2;
    text-align: end;
}

.mainHead2 img{
    width: 100%;
    height: 128px;
}

.signButtonBig button {
    background-color: #3882F6;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    border: 2px solid #3882F6;
    border-radius: 5px;
    padding: 0.1rem 1.2rem 0.1rem 1.2rem;
    margin-top: 0.5rem;
}

/* Main Information Row */
.informationBox {
    display:  flex;
    flex-direction: column;
    justify-content: center;
    padding: 4% 20% 4% 20%;
}
.informationBoxHeadline {
    text-align: center;
    padding: 0.2rem;
}
.informationBoxContainer {
    display: flex;
    flex-direction: row;
}

.informationBoxContainer0 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
    justify-content: center;
}
.informationBoxContainerBorder {
    border: 2px solid #3882F6;
    border-radius: 10px;
    height: 6rem;
    width: 6rem;
}

/* Main Author Message */

.authorMessageBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 4% 20% 4% 20%;
    background-color: #E5E7EB;
}
.authorMessageBoxText {
    font-size: 1.5rem;
    
}
.authorMessageBoxAuthorName {
    font-size: 1.5rem;
}

/* Main Alert */

.alertBox {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 2.5% 10% 2.5% 10%;
    background: #3882F6;
    color: white;
    border-radius: 5px;
    padding: 2.5rem;
}

.alertBoxText {
    padding-right: 5rem;
}

.alertBoxButton button {
    background-color: #3882F6;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 0.1rem 1.2rem 0.1rem 1.2rem;
}

/* FOOTER */
.footer {
    display: flex;
    color: #E5E7EB;
    font-size: 10px;
    background: #1F3937;
    padding: 20px;
    justify-content: center;
}